<<<<<<< HEAD
.column-1, .column-2 {
=======
 .column-1,.column-2 {
>>>>>>> fa63e0f6c6197a5ada348bad4f16d81057607d8b
  background-color: red;
  margin: 2%;
  padding: 2%;
  border: solid black 2px;
  display: inline-block;
<<<<<<< HEAD
  vertical-align:top;
=======
  vertical-align: top;
>>>>>>> fa63e0f6c6197a5ada348bad4f16d81057607d8b
  width: 40%;
}

.column-2 {
  background-color: green;
}

.column-2 > article {
  margin-top: 6.5px;
  padding-top: 6.0px;
}

header, footer {
  border: dashed black 2px;
  font-style: italic;
  background-color: #71cbff;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
<<<<<<< HEAD
  padding :15px 10px 15px 10px;
=======
  padding: 15px 10px 15px 10px;


>>>>>>> fa63e0f6c6197a5ada348bad4f16d81057607d8b
