*{
	max-width: 960px;
	min-width: 150px;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links{
	display: inline-block;
	width: 20%;
	vertical-align: bottom;
} 
	ul {
  list-style-type: none;
  padding-left: 0px;
}

main {
	display: inline-block;
	width: 79%;
	vertical-align: top;
	position: absolute;
	top: 0;
}
.

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  main {
    font-size: .5em;
  }
  .imgs{
  	width: 10%;
  	height: 10%;
  }
}